body,html {padding: 10px;overflow-x: hidden;font-family: lato;}


.navbar-fixed-top{}
.navbar-inner{text-align: center;}
.navbar {text-transform: uppercase;background-color: #C6C8D3;background-image: none;border:none;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {color:#303344;font-weight: 500}

.my-container{width: 100%; float:left;padding:0;margin:0 0 0 0; margin-right: auto; margin-left: auto;}

.full-panel 
{
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.in-panel {position: relative;width:auto;margin: 0;min-height: 1800px;padding-top:50px}
.in-panel h2{color: #C6C8D3; font-size: 3.0em; background: transparent;padding: 10px 20px; text-transform: uppercase;float:left;margin-bottom: 2px}
.in-panel p{font-size: 20px;margin-bottom:40px;clear:both;}		

.footer{background: #333;border:none; height: 250px}
.footer p{font-size:100px; font-weight: 100; color:#fd4c5b; text-align: center;}

ul 
{
    list-style-type:none;
}

@media (max-width: 3500px) {

	.navbar-fixed-top{width:100%; margin: 0}
	.in-panel{min-height: 800px;}
	.in-panel p{padding:20px}

	
	
	.footer p{font-size:30px;}

}
